.alert {
	-fx-background-color: white;
	-fx-text-fill: #575757;
}

.alert .header-panel {
	-fx-background-color: #2f9efe;
}

.alert .header-panel .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.alert .button {
	-fx-background-color: #2f9efe;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 5 5 5;
    -fx-cursor: hand;
}

.alert .button:hover {
	-fx-background-color: #0177DD;
}

.alert .button:pressed {
	-fx-background-color: #02559E;
}