.modern-button {
    -fx-background-color: #2f9efe;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 5 5 5;
    -fx-cursor: hand;
}

.modern-button:hover {
    -fx-background-color: #0177DD;
}

.modern-button:pressed {
    -fx-background-color: #02559E;
    -fx-effect: none;
}
