.textfield {
	-fx-prompt-text-fill: #8a8a8a;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-border-width: 2 2 2	2;
	-fx-border-color: #9F9F9F;
}

.text-field:focused {
	-fx-border-color: #2F9EFE;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: #2f9efe;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 5 5 5 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0177DD;
}

.button:pressed {
    -fx-background-color: #01528d;
    -fx-effect: none;
}

.text-button {
	-fx-text-fill: #2f9efe;
}

.text-button:hover {
	-fx-text-fill: #0676c6;
}

.text-button:pressed {
	-fx-text-fill: #01528d;
}

.forgot-password-button {
	-fx-text-fill: #575757;
}

.forgot-password-button:hover {
	-fx-text-fill: #4d4d4d;
}

.forgot-password-button:pressed {
	-fx-text-fill: #323232;
}

.combo-box {
	-fx-background-color: #E4E4E4;
}

.pagination .control-box .number-button {
	-fx-background-color: #2f9efe;
	-fx-text-fill: white;
	-fx-background-radius: 5px;
}
